/*
#292929 --darker-bg
#2E2E2E --chrome
#303030 --sidebar?
#3D3D3D --app-bg

#888888
#5B5B5B
#909090
*/

$color: #bbb;
$light-color: #ccc;
$bg-color-default: #3D3D3D;
$border-color: #2E2E2E;
$bg-color-dark: #292929;
$border-color-dark: $bg-color-default;
$hover-color: #ddd;
$hover-bg-color: #353535;
$hover-light-bg-color: rgba(255, 255, 255, 0.05);
$active-bg-color: rgba(255, 255, 255, 0.025);
$light-border-color: rgba(255,255,255, 0.1);
$checkbox-border-color: #888888;

$focus-color: #0078cf;
$accent-color: #599eff;
$light-accent-color: #a6cbff;
$dark-accent-color: #003580;
$selection-color: rgba(255, 255, 255, 0.2);

$link-color: #00B7FF;

$text-color-default: $color;
$text-color-normal:  #d7dae0;
$text-color-info:    rgb(100, 148, 237);
$text-color-success: rgb(115, 201, 144);
$text-color-warning: rgb(243, 191, 68);
$text-color-error:   rgb(255, 99, 71);
$text-color-muted: rgba(157, 165, 180, 0.4);
$text-color-subtle: rgba(157, 165, 180, 0.1);
$text-color-highlight:  #ddd;
$text-color-selected: #fff;

$bg-color-normal:  #4D4D4D;
$bg-color-info:    rgb(15, 130, 230);
$bg-color-success: rgb(43, 161, 67);
$bg-color-warning: rgb(173, 124, 11);
$bg-color-error:   rgb(209, 59, 46);
$bg-color-muted:   transparent;
$bg-color-subtle:  transparent;
$bg-color-highlight: transparent;
$bg-color-selected: transparent;

$bg-light-color-info:    #7ebef7;
$bg-light-color-success: #72da87;
$bg-light-color-warning: #f3bf44;
$bg-light-color-error:   #e89d96;

$colors: (
  normal:  (text: $text-color-normal,  bg: $bg-color-normal),
  info:    (text: $text-color-info,    bg: $bg-color-info),
  success: (text: $text-color-success, bg: $bg-color-success),
  warning: (text: $text-color-warning, bg: $bg-color-warning),
  error:   (text: $text-color-error,   bg: $bg-color-error),
);

$table-color: #bdc4cd;
$table-bg-color: #2d2d2d;
$table-bg-alt-color: #313131;
$table-border-color: #414141;

$padding: 5px;

$sidebar-size: 40px;
$notification-size: 45px;

$vertical-step: 5px;
$line-height: 25px;

