@import './_variables.scss';
@import './_mixins.scss';

.Badge {
  white-space: nowrap;
  padding: 0 $padding;
  border-radius: 15px;
  font-size: 0.8em;
  font-weight: bold;
  height: 20px;
  user-select: none;
  color: $text-color-normal;
  background-color: $bg-color-normal;
  --color: $bg-color-normal;

  display: inline-flex;
  align-items: center;

  max-width: 120px;
}
.Badge > span {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 20px;
  line-height: 20px;
}
.Badge > .Button {
  color: inherit;
  transform: scale(0.5);
  margin-right: -$padding;
}
.Badge > .Button:hover {
  color: var(--color);
  background-color: rgba(white, 0.6);;
}

@each $level, $values in $colors {
  .Badge.#{$level} {
    color: #fff;
    background-color: map-get($values, bg);
    --color: map-get($values, bg);
  }

  .Badge.#{$level} > .Button:not([disabled]) {
    color: #fff;
  }
  .Badge.#{$level} > .Button:not([disabled]):hover {
    color: map-get($values, bg);
    background-color: rgba(#fff, 0.6);;
  }
}
