@import './_variables.scss';
@import './_mixins.scss';

.Modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all .25s;
}
.Modal.open {
  opacity: 1;
  pointer-events: auto;
}

.Modal__background {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

.Modal__container {
  position: absolute;
  top: 10%;
  background: $dark-bg-color;
  border-radius: 2px;
  z-index: 2;
  //min-height: 40%;
  min-width: 500px;
  box-shadow: 1px 2px 20px 10px rgba(0, 0, 0, 0.3);

  // .Modal:not(.open)
  transition: all .25s ease-in-out;
  transform: translateY(-20px);
}
.Modal.open .Modal__container {
  transform: translateY(0);
}


.Modal__header {
  padding: 2 * $padding;
  padding-bottom: 2 * $padding - 1px;
  border-bottom: 1px solid var(--light-border-color);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-color: var(--dark-bg-color);
}
.Modal__content {
  padding: 2 * $padding;
}
